.comment{
  display: flex;
  margin-bottom: 10px;
}

.comment-image-container{
  justify-content: flex-end;
}

img {
  border-radius: 50%;
}
.comment-author {
  font-weight: bold;
}
.comment-text {
  margin-bottom: 10px;
  color: blue;
}

textarea {
  resize: none;
  border: 1px solid rgb(79, 24, 206); 
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.comment-form-button {
  border: 3px solid rgb(79, 24, 206);
  width: 10vw;
}